@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .limitLine-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .lazyload,
  .lazyloading {
    opacity: 0.5;
    @apply animate-pulse bg-blue-500 text-xs;
  }
}
